<!DOCTYPE html>
<html>
{% load static %}
{% load custom_filters %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            HomePage
        {% endblock %}
    </title>

    <script src="{% static 'workshop_app/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/popper.min.js' %}"></script>
    <script src="{% static 'workshop_app/js/toastr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


    {% block extra-dependencies %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'workshop_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'workshop_app/css/toastr.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'workshop_app/css/base.css' %}?v=5.0" type="text/css"/>
    <link rel="stylesheet" href="{% static 'workshop_app/css/font-awesome.css' %}?v=2.0" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    {% block extra-custom-scripts %}
    {% endblock %}

</head>

<body>
    <!-- Global Animated Background Elements -->
    <div class="global-bg">
        <div class="bg-blobs">
            <div class="blob blob-1"></div>
            <div class="blob blob-2"></div>
            <div class="blob blob-3"></div>
        </div>
        <div class="moving-dots">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
            <div class="dot dot-4"></div>
            <div class="dot dot-5"></div>
        </div>
        <div class="flowing-ribbon"></div>
    </div>

{% block header %}
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid px-4">
            <!-- Brand and Workshop Stats links removed as per request -->
            <div class="d-flex align-items-center">
                <a class="nav-pill-btn" href="/">
                    Home
                </a>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons">menu</span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <!-- Statistics link removed -->
                </ul>
                
                {% if user.is_authenticated %}
                <ul class="navbar-nav mx-auto">
                    {% if request.user|has_group:"instructor" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistics_app:team' %}">
                             Team Statistics
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_app:workshop_status_instructor' %}">
                             Workshop Status
                        </a>
                    </li>
                    {% if not request.user|has_group:"instructor" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'workshop_app:propose_workshop' %}">
                                 Propose Workshop
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workshop_app:workshop_type_list' %}">
                             Workshop Types
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle user-profile-link" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <span class="material-icons">account_circle</span>
                           {{user.get_full_name|title}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right glass-dropdown" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'workshop_app:view_own_profile' %}">
                                <span class="material-icons">person</span> Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">
                                <span class="material-icons">lock</span> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'workshop_app:logout' %}">
                                <span class="material-icons">logout</span> Logout
                            </a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

<div class="base-content">
    {% block content %}
        <h1>Base Template Content. Please override me</h1>
    {% endblock %}
</div>

<script>
    {% if messages %}
        {% for message in messages %}
            toastr[{% if message.tags %} "{{ message.tags }}" {% else %} "info" {% endif %}]("{{ message }}");
        {% endfor %}
    {% endif %}
</script>

</body>
</html>
